{% extends 'base.html' %}

{% block title %} {{ instructor.user.first_name }} {{ instructor.user.last_name}}  {% endblock %}


{% block stylesheet %}

<stype>

</style>
{% endblock %}


{% block content %}

<div class="card shadow-lg mx-4 card-profile-bottom">
    <div class="card-body p-3">
        <div class="row gx-4 d-flex justify-content-between align-items-center">
            <div class="col-12 col-sm-auto d-flex align-items-center mb-3 mb-sm-0">
                <div class="avatar avatar-xl position-relative me-2">
                    <img src="{{ instructor.avatar.url }}" alt="profile_image" class="w-100 border-radius-lg avatar-xl shadow-sm">
                </div>
                <div class="h-auto">
                    <h4 class="mb-1 text-capitalize">
                        {{ instructor.user.first_name }} {{ instructor.user.last_name }}
                    </h4>
                    <p class="mb-0 font-weight-bold text-sm">
                        {{ instructor.employee_id }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-auto text-start text-sm-end">
                <button class="btn btn-outline-info w-100 w-sm-auto" data-bs-toggle="modal" data-bs-target="#instructor_information">
                    View Information
                </button>
            </div>
        </div>
    </div>
</div>




<div class="row mt-3">

    <!--
    <div class="col-md-4 mt-md-0 mt-1">

        <div class=" card h-auto">
            <div class="card-header pb-0">
     
                <h6 class="mb-0">Instructor Information: </h6>

            </div>
            <div class="card-body">
                <ul class="list-group">

                    {% for year_level_section in year_level_sections %}
                        
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Advisory Section:</strong> &nbsp; {{ year_level_section }}</li>
                    {% endfor %}
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Contact Number:</strong> &nbsp; {{ instructor.contact_number }}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ instructor.user.email }}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; {{ instructor.address }}</li>
                    

                </ul>
            </div>
        </div>

    </div>
    -->
    <div class=" col-12 mt-md-0 mt-1 mt-sm-0">
        <div class="row ">
            {% for section in year_level_sections %}
            {% for subj in section.subjects.all %}
            
                <div class="col-xl-4 mb-xl-3">
                    <div class="card mb-2 bg-transparent shadow-xl">
                        <div class="overflow-hidden position-relative border-radius-xl">
                            
                            <img src="/static/assets/img/illustrations/pattern-tree.svg" class="position-absolute opacity-2 start-0 top-0 w-100 z-index-1 h-100" alt="pattern-tree">        
                            <span class="mask bg-gradient-success opacity-10"></span>

                            <div class="card-body position-relative z-index-1 p-3">
                                <a type="button" data-bs-toggle="tooltip" title="View Section" href="{% url 'section_detail' section.slug %}"><p class="text-white text-sm opacity-8 mb-0">{{ section.year_level }} - {{ section.section }}</p></a>
                                <h5 class="text-white mt-4 mb-2 pb-2">{{ subj.name }}<br><span class="text-capitalize"><p>{{ subj.description}}</p></span></h5>
                                
                                <div class="d-flex">
                                    <div class="d-flex">

                                        <div>
                                            <p class="text-white text-sm opacity-8 mb-0">Schedule</p>
                                            <h6 class="text-white mb-0">{{ subj.day }} {{ subj.start_time}} - {{ subj.end_time}}</h6>
                                        </div>
                                    </div>
                                    <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                                        <img class="w-60" src="/static/assets/img/logo.png" alt="logo">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
        
            {% endfor %}
            
            {% empty %}
            <li>No year levels assigned</li>
        {% endfor %}

        </div>
    </div>




</div>


<!-- Modal -->
<div class="modal fade" id="instructor_information" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

            
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Instructor Information</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">

                        
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Employee ID:</strong> &nbsp; {{ instructor.employee_id }}</li>
                        {% for year_level_section in year_level_sections %}
                            
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Advisory Section:</strong> &nbsp; {{ year_level_section }}</li>
                        {% endfor %}
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Contact Number:</strong> &nbsp; {{ instructor.contact_number }}</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ instructor.user.email }}</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; {{ instructor.address }}</li>
                        
    
                    </ul>
                </div>

                    
            </form>
        </div>

    </div>
</div>



{% endblock %}


{% block js %}


{% endblock %}