{% extends 'base.html' %}

{% block title %} Sections  {% endblock %}


{% block stylesheet %}

{% endblock %}



{% block content %}


<div class="row">

  <div class="col-lg-9 col-md-7 mb-md-0 mb-4">



      <div class="card p-3">
        <div class="card-header d-flex justify-content-between">
          <h6>Grade 12: Earth</h6>
          <p class="text-sm mb-0">
              <a class="" type="button"><span class="font-weight-bold text-success ms-1"><i class="fa fa-plus"></i> Add Subject</span></a>
          </p>
        </div>
        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card mb-3">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3 d-flex justify-content-between align-items-center">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                  <a type="button" class="text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
                    <i class="material-icons text-lg">edit</i>
                  </a>
                </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                </div>
            </div>
          </div>

          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-xl-0 mt-3 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">menu_book</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">M-W-F 9:30am - 10:30am</p>
                      <h4 class="mb-0">Intro to Programming</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                  <p class="mb-0 text-sm">Instructor:<span class="text-success text-sm font-weight-bolder">James Ivan Mingarine</span></p>
                </div>
            </div>
          </div>


        </div>
      </div>


  
    <div class="card mt-4">
      <div class="card-header d-flex justify-content-between">
          <h6>Students </h6>
          <p class="text-sm mb-0">
              <a href="" class="" type="button"><span class="font-weight-bold text-success ms-1"><i class="fa fa-user mx-2"></i>30</span></a>
          </p>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center mb-0 mt-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Student</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Guardian</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>
                  <div class="d-flex px-2 py-1">
                      <div>
                      <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">James Ivan Mingarine (Male, 22) </h6>
                      <p class="text-xs text-secondary mb-0">18-9398-54S</p>
                      </div>
                  </div>
                  </td>
                  <td>
                      <p class="text-xs font-weight-bold mb-0">09456656707</p>
                      <p class="text-xs text-secondary mb-0">mingarine.jamesivan.c@gmail.com</p>
                  </td>
              

                  <td>
                    <p class="text-xs font-weight-bold mb-0">Ivan James Mingarine</p>
                    
                    <p class="text-xs text-secondary mb-0">( account ID )</p>

                  </td>
                  <td class="text-center">

                    <p class="text-xs font-weight-bold mb-0">vanceeq@gmail.com</p>
                  
                    <p class="text-xs text-secondary mb-0">09456656707</p>
                  </td>

                  <td class="align-middle">
                  <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      View
                  </a>
                  </td>
              </tr>


              


          </tbody>
        </table>
      </div>
    </div>



  </div>

  {% include 'base/admin/section_tab.html' %}

</div>



{% endblock %}

{% block js %}


{% endblock %}