{% extends 'base.html' %}

{% block title %} Instructors {% endblock %}


{% block stylesheet %}

{% endblock %}


{% block content %}



<div class="row">

    <div class="col-lg-9 col-md-7 mb-md-0 mb-4">

  
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h6>List of Students</h6>
                <p class="text-sm mb-0">
                    <i class="fa fa-plus text-info" aria-hidden="true"></i>
                    <a href="" type="button" data-bs-toggle="modal" data-bs-target="#add_new_instructor"><span class="font-weight-bold text-success ms-1">Add New</span></a>
                </p>
            </div>


            <div class="table-responsive">
              <table class="table align-items-center mb-0 mt-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Student</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Guardian</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Year Level / Section</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                            <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael ( Male, 22 )</h6>
                            <p class="text-sm text-secondary mb-0">Student ID number</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <p class="text-sm font-weight-bold mb-0">09456656707</p>
                        <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-sm font-weight-bold mb-0">James Ivan Mingarine</p>
                            
                            <p class="text-sm text-secondary mb-0">( Account ID )</p>
                        </td>
                        <td class="align-middle text-center">
                            <p class="text-sm font-weight-bold mb-0">09456656707</p>
                            <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-sm font-weight-normal">Grade 12: Earth</span>
                        </td>
                        <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            View
                        </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                            <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael ( Male, 22 )</h6>
                            <p class="text-sm text-secondary mb-0">Student ID number</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <p class="text-sm font-weight-bold mb-0">09456656707</p>
                        <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-sm font-weight-bold mb-0">James Ivan Mingarine</p>
                            
                            <p class="text-sm text-secondary mb-0">( Account ID )</p>
                        </td>
                        <td class="align-middle text-center">
                            <p class="text-sm font-weight-bold mb-0">09456656707</p>
                            <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-sm font-weight-normal">Grade 12: Earth</span>
                        </td>
                        <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            View
                        </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                            <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael ( Male, 22 )</h6>
                            <p class="text-sm text-secondary mb-0">Student ID number</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <p class="text-sm font-weight-bold mb-0">09456656707</p>
                        <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-sm font-weight-bold mb-0">James Ivan Mingarine</p>
                            
                            <p class="text-sm text-secondary mb-0">( Account ID )</p>
                        </td>
                        <td class="align-middle text-center">
                            <p class="text-sm font-weight-bold mb-0">09456656707</p>
                            <p class="text-sm text-secondary mb-0">john.michael@email.com</p>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-sm font-weight-normal">Grade 12: Earth</span>
                        </td>
                        <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-normal text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            View
                        </a>
                        </td>
                    </tr>



                </tbody>
              </table>
            </div>
        </div>
 
    </div>

    {% include 'base/admin/section_tab.html' %}

</div>



  <!-- Modal -->
  <div class="modal fade" id="add_new_instructor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Add New Instructor</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
            <div class="modal-body">
                <div class="bs-stepper linear">
                    <div class="bs-stepper-header" role="tablist">
                    <div class="step active" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger" aria-selected="true">
                        <span class="bs-stepper-circle bg-gradient-success">1</span>
                        <span class="bs-stepper-label text-sm">Instructor</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger" aria-selected="false" disabled="disabled">
                        <span class="bs-stepper-circle bg-gradient-success text-sm">2</span>
                        <span class="bs-stepper-label text-sm">Subjects</span>
                        </button>
                    </div>
                    </div>
                    <div class="bs-stepper-content">
                    <form method="POST">
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Firstname</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Lastname</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Instructor ID Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Contact Number</label>
                                        <input type="mail" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    
                                    <div class="d-flex align-items-center">
                                        <label class="form-label">Gender:</label>
                                        <div class="form-check">
                                            <input class="form-check-input bg-gradient-info" value="male" type="radio" name="gender" id="customRadio1">
                                            <label class="custom-control-label" for="customRadio1">Male</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" value="female" type="radio" name="gender" id="customRadio2">
                                            <label class="custom-control-label" for="customRadio2">Female</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="button" class="btn btn-sm bg-gradient-secondary" onclick="stepper.next()">Next</button>
                        </div>

                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div id="selection-container" class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-static mb-4">
                                        <label for="exampleFormControlSelect1" class="ms-0">Please select a subject: </label>
                                        <select class="form-control" name="subject" id="subject">
                                            
                                            <option>Mathematics ( MATH 101 )</option>
                                            <option>Science ( SCI 101 )</option>
                                            <option>Computer Science ( CS 101 )</option>
                                            <option>History ( HIST 101 )</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group input-group-static mb-4">
                                        <label for="exampleFormControlSelect1" class="ms-0">Please select a section: </label>
                                        <select class="form-control" name="section" id="section">
                                            <option>Grade 6: Section A</option>
                                            <option>Grade 6: Section B</option>
                                            <option>Grade 5: Section A</option>
                                            <option>Grade 5: Section B</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                            <button type="button"  class="btn btn-sm bg-gradient-secondary" onclick="stepper.previous()">Previous</button>
                            <button type="button" id="add-row" class="btn btn-sm bg-gradient-secondary">Add more subject</button>
                            </div>

                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn bg-gradient-success">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>



{% endblock %}


{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
      })
</script>




{% endblock %}