{% extends 'base/layout.html' %}


{% block title %} Home {% endblock %}


{% block stylesheet %}


{% endblock %}



{% block content %}

<header class="header-rounded-images">
    <div class="page-header min-vh-90">
      <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="/static/assets/img/123.jfif" alt="image" loading="lazy">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex">
            <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
              <h2 class="text-dark mb-4">Stay Connected with Your Child's Education</h2>
  
              <p class="lead text-dark pe-md-5 me-md-5">
                ParentLinkED brings parents and teachers together to support student achievement.
              </p>
              <div class="buttons">
                <button type="button" class="btn bg-gradient-success mt-4">Contact Us</button>
                <button type="button" class="btn btn-outline-secondary mt-4 ms-2">Read More</button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
</header>



<div class="container card card-body blur shadow-blur m-auto  mt-n6">

    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 z-index-2 border-radius-xl mx-auto py-3">
                <div class="row">
                    <div class="col-md-4 position-relative">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-primary"><span id="state1" countto="300">300</span>+</h1>
                            <h5 class="mt-3">Instructors</h5>
                            <p class="text-sm font-weight-normal">Manage classes, track progress, and communicate easily with parents.</p>
                        </div>
                        <hr class="vertical dark">
                    </div>
                    <div class="col-md-4 position-relative">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-primary"> <span id="state2" countto="100">100</span>+</h1>
                            <h5 class="mt-3">Guardians</h5>
                            <p class="text-sm font-weight-normal">Stay connected with your child’s grades, attendance, and teacher updates.</p>
                        </div>
                        <hr class="vertical dark">
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 text-center">
                            <h1 class="text-gradient text-primary" id="state3" countto="41">41</h1>
                            <h5 class="mt-3">Students</h5>
                            <p class="text-sm font-weight-normal">Helping students succeed with the power of collaboration between home and school.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                      
                        <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=987&amp;q=80); background-size: cover;">
                            <div class="card-body py-7 text-center">
            
                                <img src="/static/assets/img/logo.png" class="w-25 m-auto avatar avatar-xxl bg-white">
                            <h3 class="text-white">Empowering Parents, Enhancing Education</h3>
                            <p class="text-white opacity-8">Engage with your child's learning journey through our seamless platform.</p>
                            </div>
                        </div>
                        <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1365&amp;q=80); background-size: cover;">
                            <div class="card-body pt-7 text-center">
       
                                <img src="/static/assets/img/logo.png" class="w-25 m-auto avatar avatar-xxl bg-white">
                            <h3 class="text-white">La Salette School</h3>
                            <p class="text-white opacity-8">Accredited Lasallian Super Schools Member </p>
                            <a href="javascript:0" class="btn btn-white btn-sm w-50 mx-auto mt-3">ParentLinkED</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 ms-auto">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                        <div class="info">
                            <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
                            <h5 class="font-weight-bolder mt-3">Real-Time Updates</h5>
                            <p class="pe-5">Stay informed with instant notifications on grades, attendance, and important announcements. Parents and instructors can access the latest information to ensure student success.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <i class="material-icons text-gradient text-primary text-3xl">flip_to_front</i>
                            <h5 class="font-weight-bolder mt-3">Direct Communication</h5>
                            <p class="pe-3">Easily connect with teachers through secure messaging. Guardians can ask questions, provide updates, and collaborate with instructors for their child's academic progress.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start mt-5">
                    <div class="col-md-6 mt-3">
                        <i class="material-icons text-gradient text-primary text-3xl">price_change</i>
                        <h5 class="font-weight-bolder mt-3">Comprehensive Management Tools</h5>
                        <p class="pe-5">Instructors can efficiently manage classes, subjects, and student records in one centralized platform. Streamline administrative tasks to focus more on teaching and student engagement.</p>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="info">
                            <i class="material-icons text-gradient text-primary text-3xl">devices</i>
                            <h5 class="font-weight-bolder mt-3">User-Friendly Interface</h5>
                            <p class="pe-3">Designed for ease of use, ParentLinkED ensures that all users—registrars, instructors, and guardians—can navigate the system effortlessly, making it accessible for everyone involved in the educational journey.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

</div>




{% endblock %}




{% block js %}


{% endblock %}